.container {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  
}

.container strong {
  font-size: 20px;
  line-height: 26px;
}
h5, form{
  text-align: center;
}
.card{
  background: linear-gradient(to top,rgba(98, 208, 223, 0.945), rgb(153, 255, 153));
}